/* 改变主题色变量 */
$--color-primary: #284dbb;

$--border-radius-base: 4px !default;

$--font-size-base: 12px !default;

$--button-medium-padding-vertical: 9px !default;
$--button-medium-padding-horizontal: 30px !default;

$--checkbox-font-size: $--font-size-base !default;
$--radio-font-size: $--font-size-base !default;
$--select-input-font-size: $--font-size-base !default;

$--input-height: 30px !default;
$--input-mini-height: 24px !default;

$--table-header-color: #fff !default;
$--table-header-background: $--color-primary !default;

thead {
  color: $--table-header-color;
  font-weight: 500;

  .table-header-center th {
    text-align: center;
  }

  th {
    padding: 8px 0 !important;
  }
  &.is-group {
    th {
      background: $--table-header-background !important;
    }
  }
}
.el-table th > .cell.highlight {
  color: #fff !important;
}

.el-button {
  border-radius: 3px;
  padding: 10px 20px;
  &.el-button--medium {
    border-radius: 3px;
    padding: 7px 30px;
  }
  &.el-button--small {
    padding: 7px 15px;
  }
  &.el-button--mini {
    padding: 5px 10px;
  }
}

.el-menu-item:hover, .el-menu-item:focus {
  outline: none;
  background: none !important;
  font-weight: 700;
}

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";